// ***********************************
// LAYOUT
// ***********************************
.wrapper {
	width: 90%;
	margin: 20px auto;
}

.column-left{ 
	left: 1%; 

}

.column-right{
	left:67%; 

}

.column-center{ 
	left:34%; 

}

.column-pull {
	position:absolute; 
	padding: 5px 10px 5px 10px !important;
	margin: 0px 0px 0px 0px  !important;
	width: 32%;
}

.column-left, .column-right, .column-center {
	position:absolute; 
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px  !important;
	width: 32%;
}
